<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
        <add key="Last_Proj_Dir" value="C:\Temp" />
    </startup>
    <appSettings>
      <add key="Last_Proj_Dir" value="D:\SoftCode\test_work" />
    </appSettings>
  
  </configuration>